.logo{
	margin-top:10px;
	margin-left:5px;
}

.imgklassen {
	padding: 2px;
	margin: 2px;
	border:thin #666 solid;
	background-color:#CCC;
}

.own_navbar .ui-btn .ui-btn-inner {
    padding-top: 40px !important;
}
.own_navbar .ui-btn .ui-icon {
    border-radius: 0 0 0 0 !important;
    box-shadow: none !important;
    height: 30px !important;
    margin-left: -15px !important;
    width: 30px !important;
}

#calc .ui-icon {
	background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("img/icon/calc.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: 28px 28px;
}

#id .ui-icon {
	background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("img/icon/id.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    /*background-size: 28px 28px;*/
}

#prices .ui-icon {
	background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("img/icon/prices.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    /*background-size: 28px 28px;*/
}

#contact .ui-icon {
	background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("img/icon/contact.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    /*background-size: 28px 28px;*/
}

#ergebnis_bremsweg {
	font-family: 'Alex Brush', cursive;
  	font-style: normal;
  	font-weight: 400;
	font-size:27px;
}

#ergebnis_reaktionsweg {
	font-family: 'Alex Brush', cursive;
  	font-style: normal;
  	font-weight: 400;
	font-size:27px;
}

#ergebnis_anhalteweg {
	font-family: 'Alex Brush', cursive;
  	font-style: normal;
  	font-weight: 400;
	font-size:27px;
}

#ergebnis_gefahrenbremsung {
	font-family: 'Alex Brush', cursive;
  	font-style: normal;
  	font-weight: 400;
	font-size:27px;
}